{% extends "base.html" %}

{% block contenido_cambia %}
    <form class="text-black-50 mb-5" action="{%  url 'AppKalizAlfajores'  %}" method="post">
    {%  csrf_token %}
    {{  form.as_p}}
    <input type="submit" value="Crea tu alfajor!">

    </form>
    <br><hr>
    <form class="text-black-50 mb-5" action="{% url 'AppKalizBuscarAlfajor' %}">
    {{ form_busqueda.as_p }}
    <input type="submit" value="Busca tu alfajor">

    </form>

        <p class="text-black-50 mb-5">Los alfajores que tenemos son:</p><br>
    {% if alfajores %}
        {% for alfajor in alfajores %}

                <p class="text-black-50 mb-5">alfajor: {{ alfajor.nombre }}, tipo: {{ alfajor.tipo }}, sabor: {{ alfajor.sabor }}</p>
         <br>

        {% endfor %}
    {% else %}
        <h1>No existen alfajores</h1>
    {% endif %}
{%  endblock %}