{% extends "base.html" %}

{% block contenido_cambia %}
    <form class="text-black-50 mb-5" action="{%  url 'AppKalizSandwiches'  %}" method="post">
    {%  csrf_token %}
    {{  form.as_p }}
    <input type="submit" value="Crea tu sandwich!">

    </form>
    <br><hr>

        <p class="text-black-50 mb-5">Los sandwiches que tenemos son:</p><br>
    {% if sandwiches %}
        {% for sandwiche in sandwiches %}
            <p class="text-black-50 mb-5">Tipo: {{ sandwiche.tipo }}, Sabor: {{ sandwiche.sabor }}</p><br>
        {% endfor %}
    {% else %}
        <h1>No existen sandwiches</h1>
    {% endif %}
{%  endblock %}