{% extends "base.html" %}

{% block contenido_cambia %}
    <form class="text-black-50 mb-5" action="{%  url 'AppKalizTortas'  %}" method="post">
    {%  csrf_token %}
    {{  form.as_p }}
    <input type="submit" value="Crea tu torta!">

    </form>
    <br><hr>
    <form class="text-black-50 mb-5" action="{% url 'AppKalizBuscarTortas' %}">
    {{ form_busqueda.as_p }}
    <input type="submit" value="Busca tu torta">

    </form>
        <p class="text-black-50 mb-5">Las tortas que tenemos son:</p><br>
    {% if tortas %}
        {% for torta in tortas%}
            <p class="text-black-50 mb-5">torta: {{ torta.nombre }}, peso: {{ torta.peso }}</p><br>
        {% endfor %}
    {% else %}
        <h1>No existen tortas</h1>
    {% endif %}
{%  endblock %}